* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100vw;
    height: 100%;
    margin: 20px;
    display: grid;
    place-content: center;
}

ul {
    padding: 0;
}

.taskList-container{
    display: grid;
    place-content: center;
}

.text-center{
    width: 600px;
    height: fit-content;
    background-color: rgb(31, 23, 100);
    padding: 20px 0;
    border-radius: 20px;
    display: grid;
    place-content: center;
}

.list-section {
    width: 500px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 153, 153);
    border-radius: 15px;
    padding-bottom: 15px;
    margin: 8px;
}

.list-section h2,
.list-section h3 {
    height: 50px;
    margin: 8px;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-section h2 {
    width: 40%;
}

.list-section h3 {
    width: 50%;
}

.taskItem {
    width: 80%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 4px 25px 0px 0 ;
    background-color: white;
    border: 2px #070707 solid;
    border-radius: 15px;
}

.input {
    border: 3px black solid;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    background-color: #fffdfb;
    padding: 0 20px;
    margin-bottom: 15px;
    font-size: 22px;
}

.inactive {
    opacity: 0;
}

.inactive:hover{
    background-color: purple;
    opacity: 1;
}

.element {
    font-size: 22px;
    text-transform: capitalize;
}